<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Form </title>
</head>
<body>
    <form method="POST" action="update/{{recipes.id}}">
        {% csrf_token %}
        Update Username: <input name="recipes_Username" type="text" value ={{recipes.Username}}> <br>
        Update Dishname: <input name="recipes_Dishname" type="text" value={{recipes.Dishname}}> <br>
        Update Recipe: <input name="recipes_Recipe" type="text" value={{recipes.Recipe}}> <br>
        <input type="submit">
    </form>

</body>
</html>